@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Fresh Consulting fonts */
@import url('https://fonts.cdnfonts.com/css/suisse-intl');

body {
  margin: 0;
  font-family: 'Suisse International', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Basier Square Mono', 'Courier New', monospace;
}
